---
import { PreactCounter } from '../components/PreactCounter';
import Layout from "../layouts/Default.astro"
---

<Layout title="home">
	<h1 class="text-3xl">Sitemap SSR Test</h1>
	<ul class="list-disc m-4 ml-6">
		<li>
			<a href="/divisions/" class="underline">Divisions</a>		
		</li>
	</ul>	
</Layout>
